@model IEnumerable<AppCurso.Models.Pedido>

@{
    ViewData["Title"] = "Listagem dos Pedidos";
}

<h1>Listagem dos Pedidos</h1>

<p>
    <a asp-action="Create">Criar um novo Pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdutoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => Model.First().Id)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.First().Cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProdutoId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
