@model IEnumerable<AppCurso.Models.Pedido>

@{
    ViewData["Title"] = "Listagem dos Pedidos";
}

<h1>Listagem dos Pedidos</h1>

<p>
    <a asp-action="Create">Criar um novo Pedido</a>
</p>
@foreach (var pedido in Model)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Cliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Total)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => pedido.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => pedido.Cliente)
                </td>
                <td>
                    @Html.DisplayFor(model => pedido.Total)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Produtos.First().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Produtos.First().Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Produtos.First().Preco)
                </th>
            </tr>
            @foreach (var produto in pedido.Produtos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => produto.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => produto.Descricao)
                    </td>
                    <td>
                        @produto.Preco.ToString("C")
                    </td>
                </tr>
            }
            <td>
                <a asp-action="Edit" asp-route-id="@pedido.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@pedido.Id">Detalhar</a> |
                <a asp-action="Delete" asp-route-id="@pedido.Id">Deletar</a>
            </td>
        </tbody>
    </table>
}
