@model AppCurso.Models.Aula

@{
    ViewData["Title"] = "Detalhes da Aula";
}

<h1>Detalhar</h1>

<div>
    <h4>Aula</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UrlVideoAula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UrlVideoAula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modulo.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modulo.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modulo.Curso.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modulo.Curso.Titulo)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar para a listagem</a>
</div>
