@model AppCurso.Models.Curso

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhar</h1>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sumario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sumario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DuracaoEmMinutos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DuracaoEmMinutos)
        </dd>
    </dl>
    <hr />

    @foreach (var modulo in Model.Modulos)
    {
        <div class="container">
            <div class="row row-cols-auto" font-size="14">
                <div class="col">
                    <b>
                        @Html.DisplayNameFor(modelItem => modulo.OrdemExibicao)
                        <label>:&nbsp</label>
                        @Html.DisplayFor(modelItem => modulo.OrdemExibicao)
                    </b>
                </div>
                <div class="col">
                    <b>
                        @Html.DisplayNameFor(modelItem => modulo.Id)
                        <label>:&nbsp</label>
                        @Html.DisplayFor(modelItem => modulo.Id)
                    </b>
                </div>
                <div class="col">
                    <b>
                        @Html.DisplayNameFor(modelItem => modulo.Titulo)
                        <label>:&nbsp</label>
                        @Html.DisplayFor(modelItem => modulo.Titulo)
                    </b>
                </div>
                <div class="col">
                    <b>
                        @Html.DisplayNameFor(modelItem => modulo.Descricao)
                        <label>:&nbsp</label>
                        @Html.DisplayFor(modelItem => modulo.Descricao)
                    </b>
                </div>
            </div>
            @foreach (var aula in modulo.Aulas)
            {
                <div class="row row-cols-auto">
                    <div class="col">
                    </div>
                    <div class="col">
                        @Html.DisplayNameFor(modelItem => aula.Id)
                        <label>:&nbsp</label>
                        @Html.DisplayFor(modelItem => aula.Id)
                    </div>
                    <div class="col">
                        @Html.DisplayNameFor(modelItem => aula.Titulo)
                        <label>:&nbsp</label>
                        @Html.DisplayFor(modelItem => aula.Titulo)
                    </div>
                    <div class="col">
                        @Html.DisplayNameFor(modelItem => aula.Descricao)
                        <label>:&nbsp</label>
                        @Html.DisplayFor(modelItem => aula.Descricao)
                    </div>
                </div>
            }
            <br>
        </div>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar para a listagem</a>
</div>
